/* FONTs */
/* font-family: "Archivo Narrow", sans-serif;
font-family: "Questrial", sans-serif;
font-family: "Abel", sans-serif;
font-family: "Cabin", sans-serif; */

/* PALLET
https://teamcolorcodes.com/denver-nuggets-color-codes/
GOLD
  #fec524

BLUE
  #1D428A

DARKBLUE
  #0e2240
RED
  #8B2131

*/

/* FALLBACKS */
* {
  font-family: "Cabin", sans-serif;
}

/* NAV */
nav {
  background-color: #0e2240;
}
.navbar-brand {
  color: #fff;
}

/* LEGEND */
#legend {
  display: none;
}

/* SIDEBAR */
.year-container {
  background-color: #fec524;
  /* height: 100%; */
  /* overflow: scroll; */
  font-family: "Cabin", sans-serif;
  /* border-right: 4px solid #8b2131; */
}

.all-season {
  border-bottom: 4px solid #8b2131;
}
.new-season {
  border-bottom: 2px solid #8b2131;
}

/* MAIN */
#top-start {
  /* border-top: 10px solid #418fde; */
}
.event-container {
  background-color: #1d428a;
  font-size: 16px;
  font-family: "Cabin", sans-serif;
  /* height: 100%; */
}
.container-fluid .row {
  margin: 0;
  padding: 0;
}
.event-container .row {
  margin: 0;
  padding: 0;
}

.filterDiv {
  color: #ffffff;
  width: 100px;
  text-align: left;
  display: none;
}

.show {
  display: inline-block;
  width: 100%;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

/* Style the buttons */

.container-fluid #myBtnContainer {
  margin: 0;
  padding: 0;
}
.btn {
  text-align: left;
  border-radius: 0%;
  background-color: #fec524;
  cursor: pointer;
  width: 100%;
  font-size: 13px;
}

.btn:hover {
  background-color: #fdb927;
}

.btn.active {
  background-color: #418fde;
  color: white;
}

.filterDiv .row {
  margin: 0;
  padding: 0;
}
.event-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px 0;
}

.event-item > .event-date {
  width: 10%;
  justify-content: flex-start;
  color: lightgrey;
}
.event-item > .event-type {
  width: 10%;
  font-size: 12px;
  /* margin-left: 10px; */
  /* justify-content: center; */
}
.event-item > .event-desc {
  /* justify-content: center; */
  /* width: 100%; */
}

.event-item > .event-link {
  /* justify-content: flex-end; */
  width: 10%;
  padding-left: 10px;
  font-size: 12px;
}

#icon {
  height: 20px;
  width: 20px;
}

/* IF events are EMPTY display none */
.event-item:empty {
  display: none;
}
.event-link > [href=""] {
  display: none;
}
